/* universal selector */
* {
    font-family: sans-serif;
    color: white;
    background-color: darkslategray;
}

body {
}

/* header section */
header {
    display: flex;
    justify-content: space-between; /*pushes .name and .navbar to opposite ends of flex container*/
    color: white;
    background: darkslategray;
    min-height: max-content;
}

.name {
    font-size: 42px;
    max-width: 50%; /*takes up half of header (flex container)*/
    height: fit-content;
    width: fit-content;
    padding: 3px;
    background-color: teal;
}

.navbar {
    display: flex; /*defines .navbar as a flex container*/
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%; /*takes up other half of header (flex container)*/    
}

    .navitems {
        display: flex; /*defines .navbar ul as a flex container*/
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: center;
        min-width: 50%;
    }

    .navbar li {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: fit-content;
        min-width: fit-content;
        list-style: none;
        padding: 5px;
        margin: 0 10px;
        border-bottom: 3px solid white;
    }

.nav-link {
    color: white;
    text-decoration: none;
}

/* div img */
.imgbreak {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(trees.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 90px;
}

    #breakcontent {
        padding: 0 5px;
        color: white;
        background-color: 
        font-weight: 75;
    }
    


/* main */
main {

}

    aside h2 {
        font-size: 200%;
        border-right: 3px solid white;
        max-height: fit-content;
        padding: 0 15px;
    }


/* about me section */
.about-me {
    display: flex;
    justify-content: space-between;
}

    .about-me-aside {
        display: flex;
        justify-content: flex-end;
        width: 15%;
        min-height: 200px;
    }

    .about-me-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 85%;
    }

        .about-me-box p {
            margin: 20px 10px;
        }

/* work section */
.work {
    display: flex;
}

    .work-aside {
        display: flex;
        justify-content: flex-end;
        width: 15%;
        
    }

    .work-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 85%;
    }

        .work-box a {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-end;
            align-items: flex-start;
            flex: 0 1 47%;
            min-height: 200px;
            border: 3px solid white;
            margin: 10px 15px;
        }

            #work-big {
                flex: 0 3 100%;
                min-height: 200px;
                background-image: url(microchip.jpg);
                background-position: 75% 63%;
                background-size: 200%;
            }

    
            #work-2 {
                background-image: url(bike.jpg);
                background-position: 75% 25%;
                background-size: 150%;
            }

            #work-3 {
                background-image: url(camera.jpg);
                background-position: 50% 50%;
                background-size: 150%;
            }

            #work-4 {
                background-image: url(keyboard.jpg);
                background-position: 75% 25%;
                background-size: 150%;
            }

            #work-5 {
                background-image: url(abstract.jpg);
                background-position: 75% 25%;
                background-size: 150%;
            }

            figure {
                font-size: 25px;
                padding: 3px;
                margin: 0;
            }

            figure + p {
                margin: 0;
                padding: 3px;
            }

        .work-box a:hover {
            cursor: pointer;
            box-shadow: 5px 5px 60px 20px gray;
        }


/* contact me section */
.contact-me {
    display: flex;
    justify-content: space-between;
}
    
    .contact-me-aside {
        display: flex;
        justify-content: flex-end;
        width: 15%;
    }

    .contact-me-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        list-style: none;
        width: 80%;
        border-top: 2px solid white;
    }

        .contact-me-box li {
            display: inline-flex;
            padding: 5px;
            margin: 0 40px;
            border-bottom: 2px solid white;
        }

/* media queries */
@media screen and (max-width: 1428px) {
    .work-box a {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-start;
        flex: 0 1 100%;
        min-height: 200px;
        border: 3px solid white;
        margin: 10px 15px;
    }

    aside {
        font-size: 75%;
    }
}


@media screen and (max-width: 768px) {
    main {
        font-size: 75%;
    }
    
    figure {
        font-size: 125%;
    }
}

@media screen and (max-width: 576px) {
    aside {
        font-size: 50%;
    }

    aside h2 {
        padding-left: 15px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 300px) {
    aside {
        font-size: 35%;
    }
}